.reserve{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    p{
        font-size: 22px;
        font-weight: 700;
    }
    .rContainer{
        background-color: rgb(100, 66, 36);
        padding: 20px;
        width: 400px;
        .reserve_date{
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            span{
                font-size: 40px;
            }
            .rItem{
                display: flex;
                flex-direction: column;
                .rItemInfo{
                    display: flex;
                    flex-direction: column;
                    p{
                        b{font-size: 14px;}
                    }
                }
            }
            .rSelectRooms{
                display: flex;
                gap: 20px;
                .room{
                    display: flex;
                    gap: 8px;
                    input{
                        width: 30px;
                        height: 30px;

                    }
                }
            }
        }
    }
}